/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Developer Console Styling */
#devConsole {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

#devConsole textarea {
    width: 100%;
    height: 80%;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-family: monospace;
}

#devConsole input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
}

#devConsole button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#devConsole button:hover {
    background-color: #45a049;
}

/* Main button and input styling */
#fetchButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#fetchButton:hover {
    background-color: #45a049;
}

#username {
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
}
